.Avisos h2{
    font-family: cursive;
    color: #007bff;
    text-align: center;
    padding: 70px 200px 50px 200px  ;
    font-size: xx-large;
}



.Avisos h3{
    font-family: Cursive;
    color: black;
    text-align: center;
      font-size: xx-large;
}
.Avisos h4{
    font-family: cursive;
    color: black;
    text-align: center;
    font-size: xx-large;
} 


.Avisos h5{
    font-family: cursive;
    color: black;
    text-align: center;
    font-size: xx-large;
}


.Avisos input[type="submit"]{
    margin: 20px 70px 0px 510px;
    width: 330px;
    height: 60px;
    border-radius: 30px;
    background: #007bff; 
    font-family: cursive ;
}

.Avisos img{
    width: 300px;
    height: 420px;
    padding: 100px -10px -0px -0px  ; 
    display: table-column;
    margin:  0px 500px 190px;
}  
