.Buscar h1{
    font-family: serif;
    color: #007bff;
    text-align: center;
    padding: 70px 200px 50px 200px  ;
}

.Buscar input[type="submit"]{
    margin: 20px 70px 0px 510px;
    width: 330px;
    height: 60px;
    border-radius: 30px;
    background: #007bff; 
    font-family: cursive ;
}


