.Buscar h1{
    font-family: serif;
    color: black;
    padding: 70px -200px 50px 0px  ;
}

.Buscar {
    margin: 20px 70px 0px 270px;
    width: 330px;
    height: 60px;
    border-radius: 30px;
    font-family: cursive ;
}
.Buscar1 {
    margin: 200px 70px 0px 350px;
    width: 0px;
    height: 650px;
    border-radius: 300px;
    background: #007bff; 
    font-family: cursive ;
    
}
.Buscar2 {
    margin: 20px 70px 0px 350px;
    width: 330px;
    height: 60px;
    border-radius: 30px;
    background: #007bff; 
    font-family: cursive ;
}
.Buscarinput {
    margin: 20px 70px 0px 350px;
    width: 330px;
    height: 60px;
    border-radius: 30px;
    background: #007bff; 
    font-family: cursive ;
}
