.informa h1{
    font-family: serif;
    color: #007bff;
    text-align: center;
  
}
.parrafo1{
    padding: 40px 200px 0px 200px  ;
}
.informa{
    padding: 70px 200px 0px 200px  ;
   
}

.img{
    width: 100px;
    height: 120px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px 5px 5px -0px  ; 
    display: flex;
}
.img{
    margin: 40px 0px 180px 100px;
}
.img1{
    width: 100px;
    height: 120px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px 5px 5px -0px  ; 
    display: flex;
}
.img1{
    margin: 40px 0px 180px 100px;
}
.img2{
    width: 100px;
    height: 120px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px 5px 5px -0px  ; 
    display: flex;
}
.img2{
    margin: 40px 0px 180px 100px;
}
.img3{
    width: 100px;
    height: 120px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px 5px 5px -0px  ; 
    display: flex;
}
.img3{
    margin: 40px 0px 180px 100px;
}
.img4{
    width: 100px;
    height: 120px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px 5px 5px -0px  ; 
    display: flex;
}
.img4{
    margin: 40px 0px 180px 100px;
}

