.notas h1{
    color: orangered;
    text-align: center;
}

.notas h2{
    color: blue;
    text-align: center;
}

.notas h3{
    color: black;
    text-align: center;
}

.notas {
    text-align: center;
}