.Quienesomos h1{
    font-family: serif;
    color: #007bff;
    text-align: center;
    padding: 10px;
}
.Quienesomos h2{
    font-family: cursive;
    color: orangered;
    text-align: center;
}
.Quienesomos h5{
    font-family: cursive;
    color: black;
    text-align: center;
}
.Quienesomos {
    color: #000000;
    text-align: center;
    padding: -50px 200px 50px 200px  ;
   
}
.Quienesomos h3{
    color: black;
    text-align: right;
    width: 0px;
    height: -100px;
    margin-left: -0px;
    margin-top: 5px;
    padding:  9px 190px 90px -0px  ; 
    display: table-column;
}
.Quienesomos h4{
    text-align: right;
    width: 0px;
    height: -20px;
    margin-left: -0px;
    margin-top: 10px;
    padding: 9px 190px 80px -0px  ; 
    display: table-column;
}
.Quienesomos img{
    width: 300px;
    height: 290px;
    padding: 1px 20px 1px -0px  ; 
    display: table-column;
}   
.Quienesomos img{
    
        margin: -50px -5px 50px 50px;
    }
    

    
    


