.Separacion h1{
    font-family: cursive;
    color: #007bff;
    text-align: center;
    padding: 70px 200px 12px 200px  ;
    font-size: xx-large;
}

.Separacion h7{
    font-family: cursive;
    color: black;
    text-align: center;
    padding: 70px 200px 50px 200px  ;
    font-size: xx-large;
}

.Separacion h3{
    font-family: Cursive;
    color: black;
    text-align: center;
      font-size: xx-large;
}

.Separacion h4{
    font-family: cursive;
    color: black;
    text-align: center;
    font-size: xx-large;
}
.Separacion h5{
    font-family: Cursive;
    color: black;
    text-align: center;
      font-size: xx-large;
}

.Separacion h6{
    font-family: Cursive;
    color: black;
    text-align: center;
      font-size: xx-large;
}

.Separacion h6{
    font-family: cursive;
    color: black;
    text-align: center;
    font-size: xx-large;
}


.Separacion input[type="submit"]{
    margin: 20px 70px 0px 510px;
    width: 330px;
    height: 60px;
    border-radius: 30px;
    background: #007bff; 
    font-family: cursive ;
}

.Separacion img{
    width: 500px;
    height: 480px;
    padding: 100px -10px -0px -0px  ; 
    display: table-column;
    margin:  5px 430px 190px;
}   